* {
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
	height: 100%;
	background-color: #eee;
}
.wave {
	width: 20rem;
	height: 7.5px;
	background-size: 15px 15px;
	background-repeat: repeat-x;
	background-image: linear-gradient(135deg, transparent 45%, red 55%, transparent 60%), linear-gradient(45deg, transparent 45%, red 55%, transparent 60%);
}

.wrap1 {
	width: 10rem;
	height: 10rem;
	background-color: #fcc;
}

.wrap2 {
	width: 6rem;
	height: 6rem;
	background-color: #ccc;
}

.wrap3 {
	width: 3rem;
	height: 3rem;
	background-color: #ffc;
}

.test-img {
	padding: 1rem;
	background-color: #fff;
}

.float-wrap {
	width: 250px;
	height: 250px;
	background-color: #fff;
}
.float-wrap p {
	width: 50px;
	height: 50px;
	border: 2px solid #000;
	float: left;
}
.float-wrap section {
	clear: left;
}
.p1 { 
	background-color: #fcc; 
	/*float: left;*/
}
.p2 { 
	background-color: #ccc; 
	/*float: right;*/
	clear: left;
}
.p3 { 
	background-color: #ffc; 
	/*float: left;*/
}
.p4 { 
	background-color: #fcf; 
	/*float: left;*/
}